apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: cluster-logging
  namespace: openshift-logging 
  annotations:
    node-role.kubernetes.io/infra: ''
spec:
  channel: "{{ logging.version }}" 
  name: cluster-logging
  source: "{{ logging.source }}" 
  sourceNamespace: openshift-marketplace
