apiVersion: v1
kind: ConfigMap
metadata:
  name: cluster-monitoring-config 
  namespace: openshift-monitoring
data:
  config.yaml: |
    techPreviewUserWorkload:
      enabled: true
    prometheusK8s:
      nodeSelector:
          node-role.kubernetes.io/infra: ""
      volumeClaimTemplate:
        metadata:
          name: prometheusdb
        spec:
          storageClassName: {{ monitoring.storage_class_name }}
          resources:
            requests:
              storage: {{ monitoring.promotheuse_pv_size }}Gi
    alertmanagerMain:
      nodeSelector:
          node-role.kubernetes.io/infra: ""
      volumeClaimTemplate:
        metadata:
          name: alertmanager
        spec:
          storageClassName: {{ monitoring.storage_class_name }}
          resources:
            requests:
              storage: {{ monitoring.alertmanager_pv_size }}Gi
    openshiftStateMetrics:
      nodeSelector:
          node-role.kubernetes.io/infra: ""
    prometheusOperator:
      nodeSelector:
        node-role.kubernetes.io/infra: ""
    grafana:
      nodeSelector:
        node-role.kubernetes.io/infra: ""
    k8sPrometheusAdapter:
      nodeSelector:
        node-role.kubernetes.io/infra: ""
    kubeStateMetrics:
      nodeSelector:
        node-role.kubernetes.io/infra: ""
    telemeterClient:
      nodeSelector:
        node-role.kubernetes.io/infra: ""
    thanosQuerier:
      nodeSelector:
        node-role.kubernetes.io/infra: ""
